[submodule "nextcloud-oauth2-client"]
	path = nextcloud-oauth2-client
	url = ../nextcloud-oauth2-client.git
[submodule "alexa-skill-user-manager"]
	path = alexa-skill-user-manager
	url = ../alexa-skill-user-manager.git
[submodule "src/node_modules/alexa-skill-user-manager"]
	path = src/node_modules/alexa-skill-user-manager
	url = ../alexa-skill-user-manager.git
[submodule "src/node_modules/nextcloud-oauth2-client"]
	path = src/node_modules/nextcloud-oauth2-client
	url = ../nextcloud-oauth2-client.git
